<div class="location">
  <h6><a routerLink="/">Home</a> > Your Collection</h6>
</div>

<div class="row">

  <div class="col-lg">
    <div class="card">
      <div class="card-body" id="outer">
        <h4 class="card-title">Sets</h4>
        <div class="row">
          <div class="col-sm">
            <div class="card">
              <div class="card-header">SETS OWNED</div>
              <div class="card-body" id="inner">
                <p>You own _ items, _ different.
                <ul>
                  <li><a routerLink="my-sets">View sets you own</a></li>
                </ul>
                <p>We have a piece count for _ of your sets. You own _ pieces.</p>
                <p>We have retail prices for _ of your sets. Their retail value is $_.</p>
                <div class="divider"></div>
                <ul>
                  <li>Clear your collection</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <div class="card-header">SETS WANTED</div>
              <div class="card-body" id="inner">
                <p>You want _ sets.</p>
                <p>We have retail prices for _ of them. The total retail cost is $_.
                <ul>
                  <li><a routerLink="my-sets">View sets you want</a></li>
                </ul>
                <div class="divider"></div>
                <ul>
                  <li>Clear your wanted sets</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg">
    <div class="card">
      <div class="card-body" id="outer">
        <h4 class="card-title">Minifigs</h4>
        <div class="row">
          <div class="col-sm">
            <div class="card">
              <div class="card-header">MINIFIGS OWNED</div>
              <div class="card-body" id="inner">
                <p>You own _ minifigs, _ different.
                <ul>
                  <li>View your minifigs</li>
                  <li>Minifigs owned loose</li>
                  <li>Minifigs owned in sets</li>
                </ul>
                <div class="divider"></div>
                <ul>
                  <li>Clear your collection</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <div class="card-header">MINIFIGS WANTED</div>
              <div class="card-body" id="inner">
                <p>You want _  minifigs.</p>
                <ul>
                  <li>View minifigs you want</li>
                </ul>
                <div class="divider"></div>
                <ul>
                  <li>Clear your wanted minifigs list</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
