<div class="container-fluid">
  <nav class="navbar-top navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href='#'><img src="./assets/img/logo-2x.png" weight=100px height=100px></a>
    </div>
    <div id="admin">
      <a href="admin">Admin Functions</a>
    </div>
    <div id="log-in">
      <a href="#">Login</a>
    </div>
    <div id="sign-up">
      <a href="#">Sign Up</a>
    </div>
    <form class="navbar-form-top navbar-left" action="/action_page.php">
      <div class="input-group" id="search-bar">
        <input type="text" class="form-control" placeholder="Search">
        <select>
          <option value="all" selected="selected">All</option>
          <option value="sets">sets</option>
          <option value="minifigs">minifigs</option>
          <option value="parts">parts</option>
          <option value="bricklists">bricklists</option>
          <option value="news">news</option>
          <option value="members">members</option>
        </select>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <br>
    <div class="row">
      <div class="col-md-2">
        <div class="card" id="browse-button">
          <a routerLink="browse" class="stretched-link">BROWSE</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" id="buy-button">
          <a routerLink="#" class="stretched-link">BUY</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" id="my-sets-button">
          <a routerLink="#" class="stretched-link">MY SETS</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" id="forum-button">
          <a routerLink="#" class="stretched-link">FORUM</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" id="more-button">
          <a routerLink="#" class="stretched-link">MORE...</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" id="my-menu-button">
          <a routerLink="#" class="stretched-link">MY MENUS</a>
        </div>
      </div>
    </div>
  </nav>
  <div id="outlet">
    <router-outlet></router-outlet>
  </div>
</div>

<nav class="navbar-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <h3>Site Statistics</h3>
        <ul>
          <li>There are 15879 items in the Brickset database.</li>
          <li>Brickset members have written 35025 set reviews.</li>
          <li>7386 members have logged in in the last 24 hours, 15940 in the last 7 days, 25616 in the last month.</li>
          <li>451 people have joined this week. There are now 204988 members.</li>
          <li>Between us we own 22,017,986 sets worth at least US$625,321,556 and containing 6,076,904,053 pieces</li>
        </ul>
      </div>
      <div class=col-lg>
        <h4>Get in touch</h4>
          <p>If you have LEGO news, new images or something else to tell us about, send us a message. If you have a lot to tell us, use this contact form.</p>
          <form>
            <div class="input-group">
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Name">
                <input type="text" class="form-control" placeholder="Email">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">Send Message</button>
                </div>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Message">
              </div>
            </div>
          </form>
      </div>
    </div>
  <div id="bottom-nav-links">
     <a href="#">Frequently Asked Questions</a> | <a href="#">About Brickset</a> | <a href="#">Privacy and Cookies</a> | <a href="#">Affiliate Marketing Disclosure</a> | <a href="#">Site Map</a> | <a href="#">Contact Us</a>
  </div>
  <p>LEGO, the LEGO logo, the Minifigure, and the Brick and Knob configurations are trademarks of the LEGO Group of Companies. ©2019 The LEGO Group.Brickset, the Brickset logo and all content not covered by The LEGO Group's copyright is, unless otherwise stated, ©1997-2019 Brickset ltd.</p>
</div>
</nav>
