<h6><a routerLink="/">Home</a> > <a routerLink="browse">Browse</a> > Sets</h6>
<br>
<div class="row">
  <div class="col-md">
    <h4>All themes</h4>
  </div>
  <div class="col-md">
    <ul>
      <li><a routerLink="#">System</a></li>
      <li><a routerLink="#">Space</a></li>
      <li><a routerLink="#">Castle</a></li>
      <li><a routerLink="#">Pirates</a></li>
    </ul>
  </div>
  <div class="col-md">
    <ul>
      <li><a routerLink="#">Western</a></li>
      <li><a routerLink="#">Friends</a></li>
      <li><a routerLink="#">Star Wars</a></li>
      <li><a routerLink="#">The Lego Movie</a></li>
    </ul>
  </div>
  <div class="col-md">
    <ul>
      <li><a routerLink="#">Creator Expert</a></li>
    </ul>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="col-md">
    <h4>Years</h4>
  </div>
  <div class="col-md">
    <ul>
      <li><a routerLink="#">2019</a></li>
      <li><a routerLink="#">2018</a></li>
      <li><a routerLink="#">2017</a></li>
      <li><a routerLink="#">2016</a></li>
    </ul>
  </div>
  <div class="col-md">
    <ul>
      <li><a routerLink="#">2015</a></li>
      <li><a routerLink="#">2014</a></li>
      <li><a routerLink="#">2013</a></li>
      <li><a routerLink="#">2012</a></li>
    </ul>
  </div>
  <div class="col-md">
    <ul>
      <li><a routerLink="#">2011</a></li>
      <li><a routerLink="#">2010</a></li>
      <li><a routerLink="#">2009</a></li>
      <li><a routerLink="#">2008</a></li>
    </ul>
  </div>
  <div class="col-md">
    <ul>
      <li><a routerLink="#">2007</a></li>
      <li><a routerLink="#">2006</a></li>
      <li><a routerLink="#">2005</a></li>
      <li><a routerLink="#">2004</a></li>
    </ul>
  </div>
  <div class="col-md">
    <ul>
      <li><a routerLink="#">2003</a></li>
      <li><a routerLink="#">2002</a></li>
      <li><a routerLink="#">2001</a></li>
      <li><a routerLink="#">2000</a></li>
    </ul>
  </div>
</div>
