<div class="row">
  <div class="col-lg">
    <h2>Our database</h2>
  </div>
  <div class="col-lg">
    <h4>Sets</h4>
    <p>Our database contains over 10000 sets and other items released over the last 50 years</p>
    <br>
    <a routerLink="set-list">Browse sets</a>
    <a routerLink="#">Themes and years</a>
    <a routerLink="#">Tags</a>
    <a routerLink="#">Minifig name tags</a>
  </div>
  <div class="col-lg">
    <h4>Minifigs</h4>
    <p>Information on over 6000 minifigs, displayed here courtesy of BrickLink.com</p>
    <br>
    <a routerLink="#">Browse minifigs</a>
    <a routerLink="#">Categories and years</a>
    <a routerLink="#">Character names</a>
    <a routerLink="#">Tags</a>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <h2>LEGO.com</h2>
  </div>
  <div class="col-lg">
    <h4>Instructions</h4>
    <p>Links to instructions published by LEGO Customer Services</p>
    <br>
    <a routerLink="#">View instructions</a>
  </div>
  <div class="col-lg">
    <h4>Inventories</h4>
    <p>Set inventories published by LEGO Customer Services</p>
    <br>
    <a routerLink="#">View inventories</a>
  </div>
</div>
<h2>News</h2>

<h2>User-generated</h2>
