<div class="row">
  <div class="col-lg-8">
    <div class="news">
      <h2>IN THE NEWS</h2>
      <nav role="navigation">
        <ul>
          <li>Review:</li>
          <li>Review:</li>
        </ul>
      </nav>
    </div>
    <div class="divider"></div>
    <div class="posts">
      <header>
        <h4>Win a 10266 NASA Apollo 11 Lunar Lander and Wicked Brick Diplay Case!</h4>
        <small>"Posted by CapnRex101, 20 Jun 2019 14:00"</small>
      </header>
      <footer>
        <div class="tags">
          <a href="#">Shopping (General)</a>
        </div>
        <p>455 Views</p>
      </footer>
      <img src="./assets/img/post1.png" weight=300px height=300px>
      <p><a href="https://wickedbrick.com/"> Wicked Brick</a> has launched another giveaway for Brickset readers! <a href="https://www.wickedbrick.com/collections/vario-display-stands">Placing your order</a> with the code <strong>APOLLO11</strong> during checkout will add you to a draw for the following prizes, each of which includes both the set and its respective Wicked Brick display case or stand:</p>
      <ul>
        <li><strong>1st Prize</strong> - 10266 NASA Apollo 11 Lunar Lander with Wicked Brick Display Case</li>
        <li><strong>2nd Prize</strong> - 40335 Space Rocket Ride with Wicked Brick Display Case and 60224 Satellite Service Mission with Wicked Brick Display Stand</li>
        <li><strong>3rd Prize (x3)</strong> - Satellite Service Mission with Wicked Brick Display Stand</li>
      </ul>
      <p>This competition will conclude at midnight (BST) on Monday, the 24th of June.</p>
      <p>You can find out reviews of several impressive Wicked Brick products here.</p>
      <p>Good luck!</p>
    </div>
    <div class="divider"></div>
  </div>

  <div class="col-lg-4">
    <h4>Shopping for LEGO?</h4>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="./assets/img/amazon.jpg">
        </div>
        <div class="col-sm">
          <img src="./assets/img/legoshop.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img src="./assets/img/ebay.jpg">
        </div>
        <div class="col-sm">
          <img src="./assets/img/bricklink.png">
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img src="./assets/img/iwoot.gif">
        </div>
      </div>
    </div>

    <br>
    <p>Please read our affiliate marketing disclosure.</p>
    <br>
    <div class="divider"></div>
    <br>
    <h4>Site updates</h4>
    <div class="card">
    </div>
    <br>
    <div class="divider"></div>
    <br>
    <h4>Our community</h4>
    <div class="card">
    </div>
  </div>
</div>
