<h2>Edit Set Details</h2>

<label>Set Name:</label>
<input [(ngModel)]="childSelectedSet.name">
<label>Set Number:</label>
<input [(ngModel)]="childSelectedSet.number">
<label>Age Range:</label>
<input [(ngModel)]="childSelectedSet.ageRange">
<label>Piece Count:</label>
<input [(ngModel)]="childSelectedSet.pieces">
<label>Packaging:</label>
<input [(ngModel)]="childSelectedSet.packaging">

<label>Year Released:</label>
<input [(ngModel)]="childSelectedSet.year">
<label>Retail Price:</label>
<input [(ngModel)]="childSelectedSet.retailPrice">
<label>Availability:</label>
<input [(ngModel)]="childSelectedSet.availability">

<label>Type:</label>
<input [(ngModel)]="childSelectedSet.type">

<label>Theme Group:</label>
<input [(ngModel)]="childSelectedSet.themeGroup">
<label>Theme:</label>
<input [(ngModel)]="childSelectedSet.theme">
<label>Subtheme:</label>
<input [(ngModel)]="childSelectedSet.subTheme">

<label>Tags:</label>
<input [(ngModel)]="childSelectedSet.tags">
